@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 32%;
    --accent: 0 0% 94%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 0% 20%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 86%;
    --input: 0 0% 86%;
    --ring: 0 0% 20%;
    --editor: 0 0% 100%;
    --radius: 0.375rem;
  }

  * {
    @apply border-border;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-background text-foreground antialiased text-sm;
  }
}

.html-editor,
.html-editor .cm-theme,
.html-editor .cm-editor {
  height: 100%;
}

.html-editor .cm-editor {
  outline: none;
}

.html-editor .cm-scroller {
  overflow: auto;
}
